<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{fname}"/>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date{HH:mm:ss} 类名:%C 行号:%-4L 信息:【%message】 %n" />
      </layout>
    </appender>

    <appender name="NoClassNoLine" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{fname}"/>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date{HH:mm:ss} %message %n" />
      </layout>
    </appender>

    <logger name="ZuanBot">
      <level value="All" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>

    <logger name="NoClassNoLine">
      <level value="All" />
      <appender-ref ref="NoClassNoLine" />
    </logger>

  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>